/* IMPORTATION DES FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/* font-family: 'Montserrat', sans-serif; */


body {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #000;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.score {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

.btn{
    display: flex;
    text-align: center;
    justify-content: center;
    color: #000;
    background-color: #fff;
    border: 2px solid rgb(92, 241, 117);
    transition-duration: .5s;
    text-decoration: none;
    border-radius: 12px;
    font-size: 16px;
    padding: 10px;
    width: 240px;
    height: 40px;
    margin-top: 100px;
}

.btn:hover{
    color: #fff;
    background-color: #000;
}