/* IMPORTATION DES FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/* font-family: 'Montserrat', sans-serif; */


   body {
        font-size: 20px;
        font-family: arial, sans-serif;
        background-image: url('../img/background.gif');
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #000;
    }
    
    img {
        width: 55px; 
        height: 55px;
    }

    .scoreboard {
        display: flex;
        justify-content: center;
        margin-top: 130px;
        font-family: arial, sans-serif;
    }

    span {
        color: #fff;
        font-family: arial;
        padding-top: 100px;
    }

    span #score {
        color: #fff;
        font-family: arial, sans-serif;
    }

    .container {
        display: flex;
        justify-content: center;
    }
    
    #grille {
        width: 300px;
        float: left;
        height: 300px;
        text-align: center;
        border: #333 1px solid;
        background-color: #CCCCCC;
        background: rgba(100, 100, 100, .1);
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        margin: 100px;
    }

    input.btn {
        display: flex;
        text-align: center;     
    }
    
    .btn{
        color: #000;
        background-color: #fff;
        border: 2px solid rgb(92, 241, 117);
        text-decoration: none;
        border-radius: 12px;
        font-size: 16px;
        display: flex;
        text-align: center;
        justify-content: center;
        transition-duration: .5s;
        padding: 10px;
        margin-top: 50px;
        width: 240px;
        height: 40px;
        margin-left: 140px;
    }

    .btn:hover{
        color: #fff;
        background-color: #000;
    }
    
    .case {
        width: 66px;
        float: left;
        height: 66px;
        text-align: center;
        padding: 0px;
        margin: 0px;
        border: #333 1px solid;
        border-radius: 5px;
        background: #000;
        background: linear-gradient( #CCC, #FFF);
        box-shadow: 2px 2px 0px #aaa; 
        margin: 2px;
    }